<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{serviceItem.itemTitle}}</md-card-title>
    <md-card-subtitle>{{serviceItem.description}}</md-card-subtitle>
  </md-card-header>
  <image-holder [image]="serviceItem.coverImage"></image-holder>
  <md-card-content>
    <!--<p>-->
      <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
      <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
      <!--bred for hunting.-->
    <!--</p>-->
  </md-card-content>
  <md-card-actions>
    <button md-button>{{'serviceItem.book' | translate}}</button>
    <!--<button md-button>SHARE</button>-->
  </md-card-actions>
</md-card>
<!--<md-card>-->
  <!---->
  <!--<md-card-title>-->
    <!--<md-card-title-text>-->
      <!--<span class="md-headline">{{serviceItem.itemTitle}}</span>-->
    <!--</md-card-title-text>-->
  <!--</md-card-title>-->
  <!--<md-card-content>-->
    <!--<p>-->
      <!--{{serviceItem.description}}-->
    <!--</p>-->
  <!--</md-card-content>-->
  <!--<md-card-actions layout="column" layout-align="start">-->
    <!--<md-button>Action 1</md-button>-->
    <!--<md-button>Action 2</md-button>-->
  <!--</md-card-actions>-->
<!--</md-card>-->



