<div class="panel panel-default">
  <div class="panel-heading">{{participant.fisrtName}} {{participant.lastName}} </div>
  <div class="panel-body">

<div class="customer-fields text-center  "  >
  <div class="row" >
    <div class="col-sm-6" >
      <input type="text" class="full-width" placeholder="{{'personInfo.lastName' | translate}}" [(ngModel)]="participant.lastName"/>

    </div>
    <div class="col-sm-6" >
      <input type="text" class="full-width" placeholder="{{'personInfo.fisrtName' | translate}}" [(ngModel)]="participant.fisrtName"/>

    </div>

  </div>
  <div class="row" >
    <div class="col-sm-6" >
      <input type="text" class="full-width" placeholder="{{'personInfo.phoneNumber' | translate}}" [(ngModel)]="participant.phoneNumber"/>

    </div>
    <div class="col-sm-6" >
      <input type="text" class="full-width" placeholder="{{'personInfo.location' | translate}}" [(ngModel)]="participant.location"/>

    </div>

  </div>

</div>
</div>
  </div>
<hr>

<!--<div id="basicInfoTab" class="tab-pane fade in active">-->
  <!--<div class="form-group">-->
    <!--<label class="control-label" translate="tikonApp.personInfo.fisrtName" for="field_fisrtName">Fisrt Name</label>-->
    <!--<input type="text" class="form-control" name="fisrtName" id="field_fisrtName"-->
           <!--ng-model="$ctrl.personInfo.fisrtName"-->
    <!--/>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label class="control-label" translate="tikonApp.personInfo.lastName" for="field_lastName">Last Name</label>-->
    <!--<input type="text" class="form-control" name="lastName" id="field_lastName"-->
           <!--ng-model="$ctrl.personInfo.lastName"-->
    <!--/>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="control-label" translate="tikonApp.personInfo.gender.title" >Gender</label>-->

    <!--<input type="radio" name="gender_male"  id="field_genderMale" ng-model="$ctrl.personInfo.gender" ng-value="true" >-->
    <!--<span translate="tikonApp.personInfo.gender.male" >Male</span>-->
    <!--</input>-->

    <!--<input type="radio" name="gender_female"  id="field_genderFemale" ng-model="$ctrl.personInfo.gender" ng-value="false" >-->
    <!--<span translate="tikonApp.personInfo.gender.female" >Female</span>-->
    <!--</input>-->

  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label class="control-label" translate="tikonApp.personInfo.phoneNumber" for="field_phoneNumber">Phone Number</label>-->
    <!--<input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"-->
           <!--ng-model="$ctrl.personInfo.phoneNumber"-->
    <!--/>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label class="control-label" translate="tikonApp.personInfo.nationalCode" for="field_nationalCode">National Code</label>-->
    <!--<input type="text" class="form-control" name="nationalCode" id="field_nationalCode"-->
           <!--ng-model="$ctrl.personInfo.nationalCode"-->
    <!--/>-->
  <!--</div>-->

  <!--<div class="form-group" >-->
    <!--<label class="control-label" translate="tikonApp.personInfo.birthDate" for="field_birthDate">Birth Date</label>-->
    <!--<eo-date-picker id="field_birthDate"  date-value="$ctrl.personInfo.birthDate" > </eo-date-picker>-->
  <!--</div>-->


<!--</div>-->
