

<br/>
<br/>
<br/>
<br/>
<div class="well well-lg" >
<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-12 text-center" *ngIf="serviceItemDetail.imageAlbum!=undefined" >
      <div  *ngFor="let img of serviceItemDetail.imageAlbum.imageList" style="float: left">
      <image-holder  [image-class]="'service-item-image'" [image]="img"></image-holder>
      </div>
    </div>
  </div>
<div class="row text-right">
  <div class="col-md-8">

  </div>
  <div class="col-md-4">
    <h2>
        {{serviceItemDetail.itemTitle}}

    </h2>
    <br>
    {{serviceItemDetail.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">

  </div>
</div>
</div>
</div>
